<section id="about-me"
class="section section-no-border section-parallax custom-section-padding-1 custom-position-1 custom-xs-bg-size-cover parallax-no-overflow m-0"
data-plugin-parallax data-plugin-options="{'speed': 1.5}"
data-image-src="{{url_base}}/assets/img/gallery/header.jpg">


  <div class="container mb-lg-5">
    <div class="row">
      <div class="col-lg-4 custom-sm-margin-bottom-1">
        <img src="{{url_base}}assets/img/gallery/CV.jpg" class="img-fluid custom-border custom-image-position-2 custom-box-shadow-4" alt />
      </div>
      <div class="col-lg-6 col-xl-5">
        <h1 class="text-color-primary custom-font-size-1" data-appear-animation="bounceInRight" data-appear-animation-delay="0" data-appear-animation-duration="1s">Rui Pinheiro</h1>
        <p class="text-color-dark font-weight-normal custom-font-size-2 custom-margin-bottom-1 ml-1" data-appear-animation="bounceInRight" data-appear-animation-delay="1" data-appear-animation-duration="2s">Web Developer</p>
        <span class="custom-about-me-infos">
          <span class="text-light text-uppercase" data-appear-animation="bounceInRight" data-appear-animation-delay="0" data-appear-animation-duration="2s">
            <strong class="text-color-light">Previous: </strong>
            Web Developer at UNIFY
          </span>
          <span class="text-light text-uppercase text-uppercase" data-appear-animation="bounceInRight" data-appear-animation-delay="0" data-appear-animation-duration="2s">
            <strong class="text-color-light">Education: </strong>
            Universidade do Minho & GALILEU
          </span>
        </span>
      </div>
      <div class="col-lg-2 col-xl-3 d-none d-lg-block">
        <img src="img/demos/resume/about-me/mouse.png" custom-anim class="img-fluid custom-image-pos-1" alt />
      </div>
    </div>
  </div>
  <ul class="social-icons custom-social-icons">
    <li class="social-icons-facebook">
      <a href="https://www.facebook.com/ruivpinheiro/" target="_blank" title="Facebook">
        <i class="fab fa-facebook-f"></i>
      </a>
    </li>
    <li class="social-icons-twitter">
      <a href="https://www.linkedin.com/in/ruivpinheiro/" target="_blank" title="Linkedin">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </li>
    <li class="social-icons-github">
      <a href="https://github.com/ruipinheiro9" target="_blank" title="Github">
        <i class="fab fa-github"></i>
      </a>
    </li>
    <li class="social-icons-twitter">
      <a href="skype:live:.cid.fa787a685d508712?chat" target="_blank" title="Skype">
        <i class="fab fa-skype"></i>
      </a>
    </li>
  </ul>
</section>

<div class="custom-about-me-links bg-color-light mt-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-3 text-center custom-xs-border-bottom p-0">
        <a data-hash href="#say-hello" class="text-decoration-none">
          <span class="custom-nav-button text-color-dark">
            <i class="icon-arrow-down-circle icons text-color-primary"></i>
            Download Resume
          </span>
        </a>
      </div>
      <div class="col-lg-2 text-center custom-xs-border-bottom p-0">
        <a data-hash href="#say-hello" class="text-decoration-none">
          <span class="custom-nav-button custom-divisors text-color-dark">
            <i class="icon-envelope-open icons text-color-primary"></i>
            Contact Info
          </span>
        </a>
      </div>

    </div>
  </div>
</div>


<section class="section section-no-border bg-color-light m-0">
  <div class="container">
    <div class="row">
      <div class="col">

        <div class="custom-box-details bg-color-light custom-box-shadow-1 col-lg-6 ml-5 mb-5 mb-lg-4 float-right clearfix mt-lg-5" data-appear-animation="bounceInRight" data-appear-animation-delay="0" data-appear-animation-duration="2s">
          <div class="row">
            <div class="col-md-6">
              <ul class="custom-list-style-1 p-0 mb-0">
                <li>
                  <span class="text-color-dark">Birthday:</span>
                  <span class="custom-text-color-2">30 May 1991</span>
                </li>
                <li>
                  <span class="text-color-dark">Nationality:</span>
                  <span class="custom-text-color-2">Portuguese</span>
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul class="custom-list-style-1 p-0 mb-0">
                <li>
                  <span class="text-color-dark">Skype:</span>
                  <span class="custom-text-color-2"><a class="custom-text-color-2" <a href="skype:live:.cid.fa787a685d508712?chat">live:.cid.fa787a685d508712</a></span>
                </li>
                <li>
                  <span class="text-color-dark">EMAIL:</span>
                  <span class="custom-text-color-2"><a class="custom-text-color-2" href="mailto:rui.pinheiro@email.com">rui.pinheiro@email.com</a></span>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <h2 class="text-color-quaternary font-weight-extra-bold text-uppercase"></h2>

        <p class="custom-text-color-3 text-justify mx-4 mx-md-0 pt-lg-5" data-appear-animation="bounceInLeft" data-appear-animation-delay="0" data-appear-animation-duration="1s">Hi, I'm<strong> Rui Pinheiro</strong>. I'm a <strong>Tech Lover</strong> by birth and a <strong>Web Developer</strong> by choice. <br><br>Ambitious, adaptable, <strong>self-motivated</strong> and down-to-earth person. Feel free to <strong>message me! :)</strong></p>


      </div>
    </div>
  </div>
</section>

<section id="experience" class="section section-secondary section-no-border m-0">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="text-color-quaternary text-uppercase font-weight-extra-bold">Experience</h2>
        <section class="timeline custom-timeline" id="timeline">
          <div class="timeline-body">
            <article class="timeline-box right custom-box-shadow-2" data-appear-animation="bounceInLeft" data-appear-animation-delay="0" data-appear-animation-duration="1s">
              <div class="row">
                <div class="experience-info col-lg-3 col-sm-5 bg-color-primary">
                  <span class="from text-color-dark text-uppercase">
                    From
                    <span class="font-weight-semibold">2020</span>
                  </span>
                  <span class="to text-color-dark text-uppercase">
                    To
                    <span class="font-weight-semibold mb-4">2020</span>
                  </span>
                  <span class="company text-color-dark font-weight-semibold">
                    UNIFY
                    <span class="company-location text-color-dark font-weight-normal text-uppercase">Vila Nova de Famalicão</span>
                  </span>
                </div>
                <div class="experience-description col-lg-9 col-sm-7 bg-color-light">
                  <h4 class="text-color-dark font-weight-semibold">Web Developer Trainee</h4>
                  <p class="custom-text-color-2">
                    <ul class="list list-icons list-primary">
                      <li class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0"><i class="fas fa-check"></i>Build user interfaces and products using HTML/CSS/JS</li>
                      <li class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="300"><i class="fas fa-check"></i>Update current websites to meet modern web standards</li>
                      <li class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="600"><i class="fas fa-check"></i>Implementing mobile-first approach to existing websites</li>
                      <li class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="900"><i class="fas fa-check"></i>Working as a productive and positive team member to design, code, test, report, and debug operations</li>
                      <li class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="1200"><i class="fas fa-check"></i>Contributed to GitHub Team Projects</li>
                    </ul>
                  </p>
                </div>
              </div>
            </article>
            <article class="timeline-box right custom-box-shadow-2" data-appear-animation="bounceInLeft" data-appear-animation-delay="0" data-appear-animation-duration="2s">
              <div class="row">
                <div class="experience-info col-lg-3 col-sm-5 bg-color-primary">
                  <span class="from text-color-dark text-uppercase">
                    From
                    <span class="font-weight-semibold">2016</span>
                  </span>
                  <span class="to text-color-dark text-uppercase">
                    To
                    <span class="font-weight-semibold mb-4">2018</span>
                  </span>
                  <span class="company text-color-dark font-weight-semibold">
                    VS Advogados
                    <span class="company-location text-color-dark font-weight-normal text-uppercase">Braga</span>
                  </span>
                </div>
                <div class="experience-description col-lg-9 col-sm-7 bg-color-light">
                  <h4 class="text-color-dark font-weight-semibold">Trainee Lawyer</h4>
                  <p class="custom-text-color-2">
                    <ul class="list list-icons list-primary">
                      <li class="appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0"><i class="fas fa-check"></i> Litigation specific responsibilities include drafting and managing court documents</li>
                    </ul>

                </div>
              </div>
            </article>

            <div class="timeline-bar"></div>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>

<section id="education" class="section section-no-border custom-bg-color-1 m-0">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="text-color-quaternary text-uppercase font-weight-extra-bold m-0">Education</h2>
        <div class="owl-carousel nav-bottom custom-dots-style-1 mb-0"
        data-plugin-options="{'items': 1, 'loop': true, 'dots': true, 'nav': false, 'autoplay': true, 'autoplayTimeout': 5000}">
          <div class="row">
            <div class="col-lg-6 col-sm-6 pb-lg-4">
              <div class="custom-box-details-2 bg-color-light custom-box-shadow-3">
                <i class="icon-screen-desktop icons text-color-primary"></i>
                <h4 class="font-weight-semibold text-color-dark m-0">GALILEU</h4>
                <p class="custom-text-color-2 mb-1">Code Developer Career</p>
                <strong class="text-color-primary">2019-2020</strong>
              </div>
            </div>
            <div class="col-lg-6 col-sm-6 pb-lg-4">
              <div class="custom-box-details-2 bg-color-light custom-box-shadow-3">
                <i class="icon-graduation icons text-color-primary"></i>
                <h4 class="font-weight-semibold text-color-dark m-0">University Of Minho</h4>
                <p class="custom-text-color-2 mb-1">Law and Informatics Post Graduation</p>
                <strong class="text-color-primary">2015-2016</strong>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-sm-6 pb-lg-4">
              <div class="custom-box-details-2 bg-color-light">
                <i class="icon-book-open icons text-color-primary"></i>
                <h4 class="font-weight-semibold text-color-dark m-0">University Of Minho</h4>
                <p class="custom-text-color-2 mb-1">Law Graduation</p>
                <strong class="text-color-primary">2010-2015</strong>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="skills" class="section section-no-border bg-color-light m-0">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 col-lg-8 mb-4 mb-md-0">
        <div class="row">
          <div class="col-lg-6">
            <h2 class="text-color-quaternary text-uppercase font-weight-extra-bold">Skills & Language</h2>
            <div class="progress-bars custom-progress-bars" data-appear-animation="bounceInLeft" data-appear-animation-delay="0" data-appear-animation-duration="1s">
              <div class="progress-label text-color-dark font-weight-semibold text-uppercase text-2">
                <span>HTML</span>
              </div>

              <div class="progress mb-2">
                <div class="progress-bar" data-appear-progress-animation="80%"></div>
              </div>
              <div class="progress-label text-color-dark font-weight-semibold text-uppercase text-2">
                <span>C#</span>
              </div>
              <div class="progress mb-2">
                <div class="progress-bar" data-appear-progress-animation="80%" data-appear-animation-delay="300"></div>
              </div>
              <div class="progress-label text-color-dark font-weight-semibold text-uppercase text-2">
                <span>JAVASCRIPT</span>
              </div>
              <div class="progress mb-2">
                <div class="progress-bar" data-appear-progress-animation="75%" data-appear-animation-delay="600"></div>
              </div>
              <div class="progress-label text-color-dark font-weight-semibold text-uppercase text-2">
                <span>CSS</span>
              </div>
              <div class="progress mb-2">
                <div class="progress-bar" data-appear-progress-animation="85%" data-appear-animation-delay="900"></div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="progress-bars custom-progress-bars custom-md-margin-top-1" data-appear-animation="bounceInLeft" data-appear-animation-delay="0" data-appear-animation-duration="2s">
              <div class="progress-label text-color-dark font-weight-semibold text-uppercase text-2">
                <span>SQL</span>
              </div>
              <div class="progress mb-2">
                <div class="progress-bar" data-appear-progress-animation="60%"></div>
              </div>
              <div class="progress-label text-color-dark font-weight-semibold text-uppercase text-2">
                <span>React</span>
              </div>
              <div class="progress mb-2">
                <div class="progress-bar" data-appear-progress-animation="75%" data-appear-animation-delay="300"></div>
              </div>
              <div class="progress-label text-color-dark font-weight-semibold text-uppercase text-2">
                <span>Adobe XD</span>
              </div>
              <div class="progress mb-2">
                <div class="progress-bar" data-appear-progress-animation="75%" data-appear-animation-delay="600"></div>
              </div>
              <div class="progress-label text-color-dark font-weight-semibold text-uppercase text-2">
                <span>Soft skills</span>
              </div>
              <div class="progress mb-2">
                <div class="progress-bar" data-appear-progress-animation="100%" data-appear-animation-delay="900"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="row">
          <div class="col">
            <div class="custom-box-details bg-color-light custom-box-shadow-1" data-appear-animation="bounceInRight" data-appear-animation-delay="0" data-appear-animation-duration="3s">
              <h4 class="text-color-dark">Languages</h4>
              <ul class="custom-list-style-1 p-0">
                <li>
                  <span class="font-weight-semibold custom-max-width-1 text-color-dark"><img src="{{url_base}}/assets/img/gallery/portugal.svg" class="flag mr-1" alt="Portuuese">Portuguese:</span>
                  <span class="custom-text-color-2">Native</span>
                </li>
                <li>
                  <span class="font-weight-semibold custom-max-width-1 text-color-dark"><img src="{{url_base}}/assets/img/gallery/england.svg" class="flag mr-1" alt="English">English</span>
                  <span class="custom-text-color-2">Advanced</span>
                </li>
                <li>
                  <span class="font-weight-semibold custom-max-width-1 text-color-dark"><img src="{{url_base}}/assets/img/gallery/spain.svg" class="flag mr-1" alt="Spanish">Spanish</span>
                  <span class="custom-text-color-2">Advanced</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="portfolio" class="section section-no-border bg-color-secondary m-0">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="text-color-quaternary font-weight-extra-bold text-uppercase">Portfolio (Comming soon!)</h2>
        <ul class="nav nav-pills sort-source custom-nav-sort mb-4" data-sort-id="portfolio" data-option-key="filter" data-appear-animation="bounceInLeft" data-appear-animation-delay="0" data-appear-animation-duration="1s">
          <li class="nav-item active" data-option-value="*"><a class="nav-link text-dark active" href="javascript:void(0)">Show All</a></li>
          <li class="nav-item" disabled data-option-value=".websites"><a class="nav-link text-dark" href="javascript:void(0)">Websites</a></li>
          <li class="nav-item" disabled data-option-value=".logos"><a class="nav-link text-dark" href="javascript:void(0)">Logos</a></li>
          <li class="nav-item" disabled data-option-value=".brands"><a class="nav-link text-dark" href="javascript:void(0)">Brands</a></li>
        </ul>


        <!-- <div class="sort-destination-loader sort-destination-loader-showing">
          <div class="row image-gallery sort-destination lightbox" data-sort-id="portfolio" data-plugin-options="{'delegate': 'a.lightbox-portfolio', 'type': 'image', 'gallery': {'enabled': true}}">
            <div class="col-12 col-sm-6 col-lg-3 isotope-item websites">
              <div class="image-gallery-item mb-4 pb-3">
                <a href="img/demos/resume/portfolio/portfolio-1.jpg" class="lightbox-portfolio">
                  <span class="thumb-info custom-thumb-info-1">
                    <span class="thumb-info-wrapper">
                      <span class="thumb-info-plus"></span>
                      <img src="img/demos/resume/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
                    </span>
                  </span>
                </a>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 isotope-item logos">
              <div class="image-gallery-item mb-4 pb-3">
                <a href="img/demos/resume/portfolio/portfolio-2.jpg" class="lightbox-portfolio">
                  <span class="thumb-info custom-thumb-info-1">
                    <span class="thumb-info-wrapper">
                      <span class="thumb-info-plus"></span>
                      <img src="img/demos/resume/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
                    </span>
                  </span>
                </a>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 isotope-item brands">
              <div class="image-gallery-item mb-4 pb-3">
                <a href="img/demos/resume/portfolio/portfolio-3.jpg" class="lightbox-portfolio">
                  <span class="thumb-info custom-thumb-info-1">
                    <span class="thumb-info-wrapper">
                      <span class="thumb-info-plus"></span>
                      <img src="img/demos/resume/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
                    </span>
                  </span>
                </a>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 isotope-item websites">
              <div class="image-gallery-item mb-4 pb-3">
                <a href="img/demos/resume/portfolio/portfolio-4.jpg" class="lightbox-portfolio">
                  <span class="thumb-info custom-thumb-info-1">
                    <span class="thumb-info-wrapper">
                      <span class="thumb-info-plus"></span>
                      <img src="img/demos/resume/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
                    </span>
                  </span>
                </a>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 isotope-item websites">
              <div class="image-gallery-item mb-4 pb-3">
                <a href="img/demos/resume/portfolio/portfolio-5.jpg" class="lightbox-portfolio">
                  <span class="thumb-info custom-thumb-info-1">
                    <span class="thumb-info-wrapper">
                      <span class="thumb-info-plus"></span>
                      <img src="img/demos/resume/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
                    </span>
                  </span>
                </a>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 isotope-item websites">
              <div class="image-gallery-item mb-4 pb-3">
                <a href="img/demos/resume/portfolio/portfolio-6.jpg" class="lightbox-portfolio">
                  <span class="thumb-info custom-thumb-info-1">
                    <span class="thumb-info-wrapper">
                      <span class="thumb-info-plus"></span>
                      <img src="img/demos/resume/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
                    </span>
                  </span>
                </a>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 isotope-item websites">
              <div class="image-gallery-item mb-4 pb-3">
                <a href="img/demos/resume/portfolio/portfolio-7.jpg" class="lightbox-portfolio">
                  <span class="thumb-info custom-thumb-info-1">
                    <span class="thumb-info-wrapper">
                      <span class="thumb-info-plus"></span>
                      <img src="img/demos/resume/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
                    </span>
                  </span>
                </a>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 isotope-item websites">
              <div class="image-gallery-item mb-4 pb-3">
                <a href="img/demos/resume/portfolio/portfolio-8.jpg" class="lightbox-portfolio">
                  <span class="thumb-info custom-thumb-info-1">
                    <span class="thumb-info-wrapper">
                      <span class="thumb-info-plus"></span>
                      <img src="img/demos/resume/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
                    </span>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</section>

<section id="recommendations" class="section section-no-border bg-color-primary m-0">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="text-color-quaternary font-weight-extra-bold text-uppercase">Recommendations</h2>
      </div>
      <div class="col-lg-12 p-0">
        <div class="owl-carousel custom-dots-style-1 custom-dots-color-1 custom-dots-position-1 mb-0" data-plugin-options="{'items': 1, 'autoHeight': true, 'loop': true, 'nav': false, 'dots': true, 'autoplay': true, 'autoplayTimeout': 5000}" data-appear-animation="bounceInRight" data-appear-animation-delay="0" data-appear-animation-duration="2s">
          <div>
            <div class="col">
              <div class="testimonial custom-testimonial-style-1 testimonial-with-quotes mb-0">
                <blockquote class="pb-2">
                  <p class="custom-text-color-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tincidunt nulla tortor, a imperdiet enim tristique nec. Nulla lobortis leo eget metus dapibus sodales. Sed placerat vitae dui vitae vehicula. Quisque in tincidunt ligula, nec dignissim arcu. Praesent aliquam velit vel libero dictum, non sollicitudin lectus mollis. Morbi sollicitudin auctor gravida.</p>
                </blockquote>
                <div class="testimonial-author float-left">
                  <p><strong class="text-uppercase">Bob Doe</strong><span class="custom-text-color-3">Director of Engineering</span></p>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="col">
              <div class="testimonial custom-testimonial-style-1 testimonial-with-quotes mb-0">
                <blockquote class="pb-2">
                  <p class="custom-text-color-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tincidunt nulla tortor, a imperdiet enim tristique nec. Nulla lobortis leo eget metus dapibus sodales. Sed placerat vitae dui vitae vehicula. Quisque in tincidunt ligula, nec dignissim arcu. Praesent aliquam velit vel libero dictum, non sollicitudin lectus mollis. Morbi sollicitudin auctor gravida.</p>
                </blockquote>
                <div class="testimonial-author float-left">
                  <p><strong class="text-uppercase">Bob Doe</strong><span class="custom-text-color-3">Director of Engineering</span></p>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="col">
              <div class="testimonial custom-testimonial-style-1 testimonial-with-quotes mb-0">
                <blockquote class="pb-2">
                  <p class="custom-text-color-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tincidunt nulla tortor, a imperdiet enim tristique nec. Nulla lobortis leo eget metus dapibus sodales. Sed placerat vitae dui vitae vehicula. Quisque in tincidunt ligula, nec dignissim arcu. Praesent aliquam velit vel libero dictum, non sollicitudin lectus mollis. Morbi sollicitudin auctor gravida.</p>
                </blockquote>
                <div class="testimonial-author float-left">
                  <p><strong class="text-uppercase">Bob Doe</strong><span class="custom-text-color-3">Director of Engineering</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div id="say-hello" class="container-fluid">
  <div class="row">
    <div class="col-lg-6 p-0">
      <section class="section section-no-border bg-color-secondary h-100 m-0">
        <div class="row justify-content-end m-0">
          <div class="col-half-section col-half-section-right mr-3">

            <h2 class="text-color-quaternary text-uppercase font-weight-extra-bold">Say Hello</h2>
            <div class="appear-animation" data-appear-animation="bounceInLeft" data-appear-animation-delay="0" data-appear-animation-duration="2s">
              <ul class="list list-icons list-icons-style-2 mt-2">
                <li><i class="fas fa-map-marker-alt top-6"></i> <strong class="text-dark">Braga, Portugal</strong></li>
                <li><i class="fas fa-envelope top-6"></i> <strong class="text-dark">rui.pinheiro@email.com</strong></li>
                <div class="text-center text-md-left">
                  <a type="submit" class="btn btn-outline btn-rounded btn-dark btn-with-arrow mt-4" href="mailto:rui.pinheiro@email.com">Send me a message!<span><i class="fas fa-chevron-down"></i></span></a>
                  <a type="button" class="btn btn-outline btn-rounded btn-dark btn-with-arrow mt-4" href="#">Download Resume<span><i class="fas fa-chevron-down"></i></span></a>
                </div>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="col-lg-6 p-0">
      <section class="section section-no-border bg-color-secondary h-100 m-0" >
        <div class="row m-0">
          <div class="col-half-section col-half-section-left ml-3 mt-lg-5">
              <ul class="footer-social-icons social-icons social-icons-big mt-lg-5 text-center text-lg-left">
                <li class="social-icons-facebook" data-appear-animation="bounceInRight" data-appear-animation-delay="0" data-appear-animation-duration="2s"><a href="https://www.facebook.com/ruivpinheiro/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                <li class="social-icons-linkedin" data-appear-animation="bounceInRight" data-appear-animation-delay="0" data-appear-animation-duration="2s"><a href="https://www.linkedin.com/in/ruivpinheiro/" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                <li class="social-icons-skype" data-appear-animation="bounceInRight" data-appear-animation-delay="0" data-appear-animation-duration="2s"><a href="skype:live:.cid.fa787a685d508712?chat" target="_blank" title="Skype"><i class="fab fa-skype"></i></a></li>
                <li class="social-icons-reddit" data-appear-animation="bounceInRight" data-appear-animation-delay="0" data-appear-animation-duration="2s"><a href="https://github.com/ruipinheiro9" target="_blank" title="Github"><i class="fab fa-github"></i></a></li>
              </ul>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
